extends layout.pug

block content
    h5 Edit product 
    .row
        form(method='POST' action='/product/edit/' + product.id).col.s12.card
            .card-content
                .row 
                    .input-field.col.s12
                        input.validate#name(type="text" name="name" value=product.name required="true")
                        label(for="name") Name
                .row 
                    .input-field.col.s12
                        input.validate#price(type="number" name="price" value=product.price pattern="([0-9]+)(\\.)([0-9][0-9])" required="true")
                        label(for="price") Price (Use currency format, eg. 9.99)
                .row 
                    .input-field.col.s12
                        input.validate#inStock(type="number" name="inStock" value=product.inStock  required="true")
                        label(for="inStock") In stock (Use integer number only, eg. 9)
                .row
                    .input-field.col.s12
                        select(name="category")
                            option(value='' selected='') Choose category
                            each category in categories 
                                option(value=category.id selected=(category.id == product.category)) #{category.name}
                        label Materialize Select
                button(type="submit").btn.waves-effect.waves-light Save

    script
        include scripts/select.js